.row-fluid.concrete
	%a.open
	.span3.desc
		.no-opc
			%a.close
			%p.title Espacios Anchorena
			.line
			.desc-cont
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet consequat nibh, bibendum aliquam diam ultrices a. Curabitur commodo dolor eget bibendum tristique. Aenean viverra elementum enim non venenatis. Integer fringilla vel turpis sed placerat. Vivamus at arcu vel sem interdum rhoncus et nec massa. Vivamus nec ullamcorper sapien, eu mattis urna. Duis volutpat turpis at leo venenatis euismod. Nulla enim quam, dapibus sed pretium vitae, tristique at diam. Fusce varius eros a porttitor hendrerit. Maecenas venenatis porta ligula, vitae porta dui. Nulla facilisi. Cras consectetur sodales nisi eu rhoncus. Fusce blandit ornare sem. Sed lobortis vel lorem dignissim auctor. Suspendisse eu odio eu nibh pulvinar dictum.
				%p Cras risus metus, malesuada sagittis ante eu, semper dapibus ligula. Integer suscipit, erat at tempor sodales, magna nulla iaculis elit, eu tempor risus libero ac lorem. Nunc auctor elit vitae magna rutrum semper. Sed id consectetur dolor. Integer turpis tortor, blandit sit amet fermentum vel, adipiscing eu massa. Curabitur ut nisi est. Nulla laoreet, erat id consequat elementum, nulla eros consequat est, sed bibendum orci ante in arcu.
				%p Cras risus metus, malesuada sagittis ante eu, semper dapibus ligula. Integer suscipit, erat at tempor sodales, magna nulla iaculis elit, eu tempor risus libero ac lorem. Nunc auctor elit vitae magna rutrum semper. Sed id consectetur dolor. Integer turpis tortor, blandit sit amet fermentum vel, adipiscing eu massa. Curabitur ut nisi est. Nulla laoreet, erat id consequat elementum, nulla eros consequat est, sed bibendum orci ante in arcu. 
				%p Cras risus metus, malesuada sagittis ante eu, semper dapibus ligula. Integer suscipit, erat at tempor sodales, magna nulla iaculis elit, eu tempor risus libero ac lorem. Nunc auctor elit vitae magna rutrum semper. Sed id consectetur dolor. Integer turpis tortor, blandit sit amet fermentum vel, adipiscing eu massa. Curabitur ut nisi est. Nulla laoreet, erat id consequat elementum, nulla eros consequat est, sed bibendum orci ante in arcu. 
	
	.slide-cont
		.slide-cont-abs
			.slide{:style => 'background:url(/assets/ejemplo1.jpg) bottom center no-repeat transparent;', :id => 'ejemplo1'}
			.slide{:style => 'background:url(/assets/ejemplo4.jpg) bottom center no-repeat transparent;', :id => 'ejemplo4'}
			.slide{:style => 'background:url(/assets/ejemplo2.jpg) bottom center no-repeat transparent;', :id => 'ejemplo2'}
			.slide{:style => 'background:url(/assets/ejemplo3.jpg) bottom center no-repeat transparent;', :id => 'ejemplo3'}
	.bar-cont
		.bar